{% extends 'reg_log\base.html' %}
{% block title %}About us{% endblock %}
{% block Abuot %}
{% load static %}
    <div style="display: flex; background-color: bisque;height: 500px;margin-top: 150px;border-radius: 100px;width: 1200px;position: absolute;margin-left: 140px;">
        <p style="color: rgba(0, 94, 255, 0.872); width: 40%;font-size: 25px;margin-left: 100px;margin-top: 70px;">Task Manager is a tool used in operating systems, such as Windows, that allows users to view and manage the currently running processes and applications on their computer. It provides information about CPU and memory usage, disk activity, and network performance, as well as the ability to end or restart processes, view detailed performance graphs, and access other system-related features. Task Manager is useful for troubleshooting and monitoring the performance of a computer.</p>
        <img src="{% static 'reg_log/img/2241.png_300.png' %}" style="width: 400px;height: 400px;margin-left: 100px;margin-top: 50px;" alt="">
    </div>
    <div style="background-color: white;margin-top: 750px;width:     1200px;position: absolute;margin-left: 140px;">
        <h1 style="text-align: center;margin-top: 20px;margin-bottom: 50px;color: rgba(0, 94, 255, 0.872);">What can do my task manager?</h1>
        <div style="display: flex;flex-wrap: wrap;column-gap: 130px;row-gap: 50px;">
            <div style="width: 300px;height: 400px;border-radius: 50px;border:5px inset black;">
                <h3 style="text-transform: uppercase;text-align: center;margin-top: 60px;">Add task</h3>
                <p style="text-align: center;width: 250px;margin-left: 25px;margin-top: 30px;color: rgba(0, 94, 255, 0.872);">Adding tasks to a to-do list can help you stay organized and improve productivity. It allows you to prioritize and track your progress, ensuring that important tasks are not overlooked. By breaking down larger goals into smaller, actionable tasks, you can create a clear plan of action and make steady progress towards your objectives. So, don't forget to add tasks to your to-do list and stay on top of your goals!</p>
            </div>
            <div style="width: 300px;height: 400px;border-radius: 50px;border:5px inset black;">
                <h3 style="text-transform: uppercase;text-align: center;margin-top: 60px;">Remove task</h3>
                <p style="text-align: center;width: 250px;margin-left: 25px;margin-top: 30px;color: rgba(0, 94, 255, 0.872);">Removing a task can bring a sense of relief and allow us to focus on more important and fulfilling responsibilities. It's essential to identify which tasks are unnecessary or no longer serve our goals and make the brave decision to remove them from our to-do list. By removing tasks, we create space for growth, productivity, and well-being.</p>
            </div>
            <div style="width: 300px;height: 400px;border-radius: 50px;border:5px inset black;">
                <h3 style="text-transform: uppercase;text-align: center;margin-top: 60px;">Sort tasks by priority</h3>
                <p style="text-align: center;width: 250px;margin-left: 25px;margin-top: 30px;color: rgba(0, 94, 255, 0.872);">Sorting tasks by priority is a smart and effective way to ensure that important and time-sensitive tasks are given the attention they deserve. By organizing tasks based on their urgency and importance, we can better allocate our resources and focus on completing the most critical tasks first. This approach minimizes procrastination and helps us stay on track to achieve our goals efficiently.</p>
            </div>
            <div style="width: 300px;height: 400px;border-radius: 50px;border:5px inset black;">
                <h3 style="text-transform: uppercase;text-align: center;margin-top: 60px;">Show all tasks</h3>
                <p style="text-align: center;width: 250px;margin-left: 25px;margin-top: 30px;color: rgba(0, 94, 255, 0.872);">Show tasks is a feature that allows users to view and manage their to-do lists or tasks easily and efficiently. It helps individuals stay organized, prioritize their work, and track their progress all in one place. With show tasks, you can create, edit, and delete tasks, set due dates, assign priorities, and even categorize or label tasks for better organization. It ultimately streamlines productivity and helps individuals stay on top of their commitments and responsibilities.</p>
            </div>
            <div style="width: 300px;height: 400px;border-radius: 50px;border:5px inset black;">
                <h3 style="text-transform: uppercase;text-align: center;margin-top: 60px;">Mark tasks as completed</h3>
                <p style="text-align: center;width: 250px;margin-left: 25px;margin-top: 30px;color: rgba(0, 94, 255, 0.872);">Marking a task as completed is an important step in any project or to-do list. It provides a sense of accomplishment and helps keep track of progress. It's satisfying to check off items from a list, knowing that they have been successfully finished. By marking tasks as completed, you can stay organized, motivated, and focused on the remaining tasks at hand.</p>
            </div>
            <div style="width: 300px;height: 400px;border-radius: 50px;border:5px inset black;">
                <h3 style="text-transform: uppercase;text-align: center;margin-top: 60px;">show todays tasks</h3>
                <p style="text-align: center;width: 250px;margin-left: 25px;margin-top: 30px;color: rgba(0, 94, 255, 0.872);">Today's task is an exciting and challenging show that requires meticulous planning, creativity, and flawless execution. The audience is in for a treat as they witness captivating performances, innovative ideas, and breathtaking moments. It's a show that pushes boundaries, embraces diversity, and leaves a lasting impact on everyone who watches it. So get ready for a remarkable experience that will amaze, inspire, and entertain you like never before.</p>
            </div>
        </div>
    </div>
    <div style="height: 100px;background-color: bisque;bottom:-1250px; position: absolute;width: 100%;border:  1px solid black">
        <p style="text-align: center;color: rgba(0, 94, 255, 0.872);margin-top: 30px;">CREATED BY MUHAMMADJON.</p>
        <p style="text-align: center;color: rgba(0, 94, 255, 0.872);display: inline-block;margin-left: 630px;">for more info : </p><a href="https://t.me/individualy_01" style="text-align: center;display: inline-block;;margin-top: 20px;"> individualy_01</a>
    </div>
{% endblock %}
